# Build
node_modules/
build-ignore-errors.bat
build-ignore-errors.js

# Source
tests/
examples/
architecture/


# Config files
tsconfig.json
rollup.config.js
.eslintrc
.prettierrc
.gitignore
.github
.vscode
.idea
.npmignore
package-lock.json

# Cache
.cache/
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# Environment
.env*

# Coverage
coverage/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Test output
.nyc_output/

exampleLocalCheckLibrary/

.bat
build.bat



